<div id="<%= dom_id server %>">
  <p>
    <strong>Ip address:</strong>
    <%= server.ip_address %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= server.name %>
  </p>

  <p>
    <strong>Authentication token:</strong>
    <%= server.authentication_token %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= server.status %>
  </p>

</div>
