<div class="bg-white p-6 shadow rounded-lg relative">
  <div class="flex justify-between items-start">
    <div>
      <h3 class="text-xl font-semibold mb-2">% Uso de Recursos</h3>
      <p class="text-sm text-gray-500 mb-4"><%= @server.server_status %></p>
    </div>
    <div class="space-x-2">
      <%= link_to "1 Hora", server_path(@server, time: 'hour'), class: 'px-4 py-1 bg-gray-900 text-white text-sm rounded hover:bg-gray-700' %>
      <%= link_to "1 Día", server_path(@server, time: 'day'), class: 'px-4 py-1 bg-gray-900 text-white text-sm rounded hover:bg-gray-700' %>
      <%= link_to "1 Semana", server_path(@server, time: 'week'), class: 'px-4 py-1 bg-gray-900 text-white text-sm rounded hover:bg-gray-700' %>
    </div>
  </div>

  <canvas id="memChart" class="w-full h-64"></canvas>

  <div class="mt-4 flex space-x-4 text-sm">
    <span class="flex items-center">
      <span class="w-3 h-3 bg-yellow-500 inline-block mr-1 rounded-full"></span>% RAM
    </span>
    <span class="flex items-center">
      <span class="w-3 h-3 bg-green-500 inline-block mr-1 rounded-full"></span>% CPU
    </span>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {
    const existingChart = Chart.getChart(document.getElementById('memChart'));
    if (existingChart) {
      existingChart.destroy();
    }

    const ctx = document.getElementById('memChart').getContext('2d');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: <%= raw @server_logs.pluck(:time).map { |time| time&.strftime("%H:%M:%S") }.reverse.compact %>,
        datasets: [
          {
            label: 'Memory Usage',
            data: <%= raw @server_logs.pluck(:memory_usage).reverse.compact %>,
            borderColor: 'rgba(233, 180, 6, 1)',
            fill: false,
            pointStyle: false
          },
          {
            label: 'CPU Usage',
            data: <%= raw @server_logs.pluck(:cpu_usage).reverse.compact %>,
            borderColor: 'rgba(33, 196, 94, 1)',
            fill: false,
            pointStyle: false
          },
        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            min: 0,
            max: 100
          }
        }
      }
    });
  })
</script>
