<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body class="bg-gray-100 font-sans">
    <div class="flex">
      <% if user_signed_in? %>
        <%= render 'shared/sidebar' %>
      <% end %>
      <main class="flex-1 p-6">
        <% if user_signed_in? %>
          <%= render 'shared/header' %>
        <% end %>
        <div class="space-y-4 mb-6">
          <!--
          <div class="bg-blue-100 border border-blue-300 text-blue-800 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Información:</strong>
            <span class="block sm:inline">Se han actualizado los datos correctamente.</span>
          </div>
          <div class="bg-red-100 border border-red-300 text-red-800 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">Ocurrió un problema al procesar la solicitud.</span>
          </div>
          -->
          <% if notice %>
            <div class="bg-green-100 border border-green-300 text-green-800 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Éxito:</strong>
              <span class="block sm:inline"><%= notice %></span>
            </div>
          <% end %>
          <% if alert %>
            <div class="bg-yellow-100 border border-yellow-300 text-yellow-800 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Advertencia:</strong>
              <span class="block sm:inline"><%= alert %></span>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>